{% extends 'base.html' %}
{% block content %}

<div class="card mb-3">
    <img src="https://img.freepik.com/free-photo/young-attractive-smiling-student-showing-thumb-up-outdoors-campus-university_8353-6394.jpg?w=2000" height="500" width="1400">
    <div class="card-body">
      <h2 class="card-title" align="center">WELCOME TO STUDCAMP <br>
        BEST SOFTWARE TRAINING INSTITUTE IN KOCHI</h2>
      <p class="card-text"> STUDCAMP is a platform which help you to discover the scope of Future in Software Industry. We offer a wide variety of software solutions including website development and software training. STUDCAMP is a well-established software company in Kochi located in Palarivattom. We entered into the global market in 2020 and with in a short period of time, we recognized as one of the top institutes in Kerala. This is not a magical event; it is because of the Quality of our services and the satisfaction of our clients and students. We have a client community in world wide. We have the most creative and uniquely talented website designers to create and train using the latest website and IT standards and to provide IT based solutions under one roof. Our services are ranges from Designing, Development, Training and Certification. .

      </p>  
      
    </div>
    <!-- <img src="https://www.shapemytrip.com/img/kerala/kerala-culture.jpg" height="400" width="1500"> -->
    <div class="card-body">
      <h2 class="card-title" align="center">OUR VISION</h2>
      <p class="card-text"><center>To Be A Key Player In Training And Development Of Knowledge And Technology By Producing And Providing Resourceful Outputs To The Growing Industries.</center></p>

    </div>

    <div class="card-body">
      <h2 class="card-title" align="center">OUR MISSION</h2>
      <p class="card-text">We Offer A Best Platform For An Innovative Training And Development Experience To Access The Future Of Knowledge By Connecting The Advanced Technology To Inspire Each One Through Delivering A Smart Team Work Involving Quality And Satisfaction As Two Important Strategic Tools.

      </p>

    </div>

    <br>
    <br>
    <br>

        
  </div>
  <footer class="page-footer font-small blue pt-4" id="g">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">StudCamp</h5>
          <p>chiramel Building,First Floor<br>
            Sreekandath rd,<br>
            Palarivottom<br>
            Kochin,Kerala<br>
            <strong>Phone:</strong> +91 689554885<br>
            <strong>Email:</strong> studcamp@gmail.com<br></p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="\">Home</a>
            </li>
            <li>
              <a href="\about">About</a>
            </li>
            <li>
              <a href="\contact">Contact Us</a>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
         <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> studcamp.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  
  
{% endblock %}
